/* Default settings */
  
  /* all */
  * {
    margin:0;
    padding:0;
    box-sizing: border-box;
    -webkit-text-size-adjust:100%;
  }
  a, a:visited {
    color:#0000EE;
  }
  
  /* ヘッダ */
  .header {
    width:100%;
    border-bottom:2px solid #cccccc;
    margin-bottom:5px;
    background:white;
  }
  .header_main {
    width:100%;
    max-width:1030px;
    display:flex;
    margin:0 auto;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: “Calibri”,”メイリオ”,Meiryo,”ヒラギノ角ゴ Pro W3″,Hiragino Kaku Gothic Pro,”ＭＳ Ｐゴシック”,sans-serif; 
  }
  h1 {
    font-family: “Calibri”,”メイリオ”,Meiryo,”ヒラギノ角ゴ Pro W3″,Hiragino Kaku Gothic Pro,”ＭＳ Ｐゴシック”,sans-serif; 
    padding: 5px 15px 9px 15px;
    color:#333;
    font-family: "times new roman", "geogia", serif;
    float:left;
    width:75%;
    display:inline-block;
    padding:5px 10px 7px 10px;
  }
  h1 a, h1 a:visited {
    color:#333;
    text-decoration:underline;
    font-weight:bold;
    letter-spacing:1px;
    font-size:20px;
    text-decoration:none;
  }
  h1 img {
    width:40px;
    vertical-align:-12px;
    margin-right:10px;
  }
  .header_right {
    width:25%;
    text-align:right;
  }
  .header_right a,.header_right a:visited {
    display:inline-block;
    background:#FF4DA0;
    color:white;
    text-decoration:none;
    padding:15px 25px 10px 25px;
    text-align:center;
    font-weight:bold;
    height:100%;
  }
  
  blockquote {
    border-radius:3px;
    border:1px solid #ddd;
    background:#fff;
    margin:0 10px;
    margin-bottom:10px;
    padding:10px;
    font-size:98%;
    color:#433;
  }
  blockquote p {
    padding:0;
  }

  .footer {
    width:100%;
    margin:0 auto;
    background:white;
    text-align:center;
    color:#666;
    font-size:13px;
  }

  .footer .what_is_this_site {
    width:100%;
    padding:25px 0;
    font-size:16px;
    background:#fafafa;
  }
  .footer .what_is_this_site b {
    padding-left:3px;
    padding-right:3px;
    font-size:101%;
  }
  .footer .what_is_this_site ul {
  }
  .footer .what_is_this_site li {
    list-style:none;
  }
  .footer .what_is_this_site img {
    width:100%;
    max-width:110px;
    margin-bottom:15px;
  }
  
  .inside {
    max-width:1080px;
    width:100%;
    margin:0 auto;
  }
  /* footer */
  .footer .perlri_link img {
    width:105px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
  }
  .footer .perlri_link a, .footer .perlri_link a:visited {
    color:white;
    display:block;
    height:100%;
    padding:28px 0 25px 0;
    font-size:18px;
    font-weight:bold;
    color:white;
    text-align:center;
    background:#70AD47;
    letter-spacing:1px;
    font-size:18px;
    cursor:pointer;
    text-decoration:underline;
  }
  .footer .perlri_link a:hover {
    opacity:0.8;
  }

  .youtube_block {
    width:calc(100% - 30px);
    max-width:560px;
    margin:0 auto;
  }
  .youtube {
    position: relative;
    width: 100%;
    margin:0 auto;
    padding-top: 56.25%;
  }
  .youtube iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  
  /* container */
  .container {
    background:#F2EFE;
  }
  
  /* main */
  .main {
    max-width:1030px;
    width:100%;
    margin: 0 auto;
    padding:30px 0;
  }
  .main:after {
    content:"";
    display:block;
    clear:both;
  }
  
  /* content */
  .content {
    float:left;
    width:calc(100% - 320px - 30px);
  }
  
  /* entry */
  .entry {
    background:white;
    margin-bottom:10px;
  }
  .entry li {
    margin-left:25px;
    line-height:1.5;
  }
  
  h2 {
    font-size:28px;
    margin-bottom:20px;
    padding-left:0px;
    letter-spacing:1px;
  }
  h2 a, h2 a:visited {
    text-decoration:none;
    color:#000;
  }
  h3 {
    font-size:20px;
    border-top:6px solid #FDD766;
    padding:16px 0px 15px 18px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
    background:#F5F5F5;
    margin-top:30px;
  }
  h4 {
    font-size:20px;
    font-weight:bold;
    padding:6px 0px 4px 5px;
    letter-spacing:0.5px;
    margin:15px 0 18px 0;
    border-bottom:dashed 1px #ddd;
  }
  p {
    font-size:16px;
    color:#111;
    margin:10px 0;
    line-height:1.5;
  }
  pre {
    font-size:16px;
    background:#FCFCFC;
    border:1px solid #CCCCCC;
    border-radius:5px;
    padding:10px 15px;
    margin:10px 0;
    line-height:1.5;
    white-space:pre-wrap;
  }
  blockquote {
    font-size:16px;
    background:#FCFCFC;
    border:1px solid #CCCCCC;
    border-radius:5px;
    padding:10px 15px;
    margin:10px 0;
    line-height:1.5;
  }

  table {
    border-collapse: collapse;
    margin-left:15px;
  }

  table th {
    border:1px solid #ddd;
    padding:7px;
    background:#eee;
    font-weight:bold;
  }

  table td {
    border:1px solid #ddd;
    padding:7px;
  }
  
  /* advanced */
  .day {
    text-align:right;
    color:#999;
  }
  .before-days {
    text-align:center;
  }

  /* サイドバー */
  .side {
    float:right;
    width:320px;
    padding-top:12px;
  }
  .side_list {
  }
  .side_list_title {
    background:#FDD766;
    color:white;
    font-weight:bold;
    padding: 11px 0px 9px 0px;
    text-align:center;
    border-bottom:none;
  }
  .side_list_body {
    text-align:center;
    letter-spacing:1px;    
    font-weight:bold;
    line-height:1.5;
    font-size:16px;
  }

  .side_list_image img {
    width:200px;
  }
  .side_list ul {
    margin-bottom:30px;
  }
  .side_list li {
    list-style:none;
    background:white;
    border:1px solid #D0D0DA;
    border-bottom:none;
    padding:12px 0px 10px 15px;
  }
  .side_list li:last-child {
    border-bottom:1px solid #D0D0DA;
  }
  .side_list li:first-child {
    border-top:none;
  }

  .perlclub_register {
    width:calc(100% - 30%);
    max-width:500px;
    margin:50px auto;
  }
  .perlclub_register a {
    line-height:1.9;
    text-align:center;
    font-weight:bold;
    font-size:19px;
    display:block;
    padding:33px 30px;
    background:#FF4DA0;
    text-decoration:none;
    border-radius:5px;
    color:white;
  }
  .perlclub_register a:hover {
    opacity:0.8;
  }
  

/* Tablet and Smart phone */
@media only screen and (max-width:1030px) {
  .content {
    margin:0;
    padding:0;
    width:100%;
    height:auto;
    overflow:visible;
  }
  .hide-smartphone {
    display:none;
  }
  
  /* ヘッダ */
  .header_main, h2,h4,h5, p, pre {
    margin-left:auto;
    margin-right:auto;
  }
  .header_right a,.header_right a:visited {
    padding:15px 10px 10px 10px;
  }
  
  /* サイドバー */
  .side {
    margin:0;
    padding:0;
    width:100%;
    height:auto;
    overflow:visible;
  }
  .side_list li {
    border-left:none;
    border-right:none;
  }
  .side_list li:last-child {
    border-bottom:none;
  }
}
