  @import 'variables.css';
  
/* Default settings */
  
  /* all */
  * {
    margin:0;
    padding:0;
    box-sizing: border-box;
    -webkit-text-size-adjust:100%;
  }
  body {
    font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Segoe UI", "メイリオ", "Meiryo",sans-serif;
  }
  a, a:visited {
    color:#0000EE;
  }
  

  /* ヘッダ */
  .header {
    border-bottom:2px solid var(--theme_color);
    background:white;
  }
  .header_main {
    max-width:860px;
    display:flex;
    margin:0 auto;
    padding:0 2px;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: “Calibri”,”メイリオ”,Meiryo,”ヒラギノ角ゴ Pro W3″,Hiragino Kaku Gothic Pro,”ＭＳ Ｐゴシック”,sans-serif; 
  }
  h1 {
    font-family: “Calibri”,”メイリオ”,Meiryo,”ヒラギノ角ゴ Pro W3″,Hiragino Kaku Gothic Pro,”ＭＳ Ｐゴシック”,sans-serif; 
    padding: 5px 15px 9px 15px;
    color:#333;
    font-family: "times new roman", "geogia", serif;
    width:75%;
    display:inline-block;
    padding:5px 0 7px 0;
  }
  h1 a, h1 a:visited {
    color:#333;
    text-decoration:underline;
    font-weight:bold;
    letter-spacing:1px;
    font-size:20px;
    text-decoration:none;
  }
  h1 img {
    width:40px;
    vertical-align:-12px;
    margin-right:10px;
  }
  .header_right {
    width:25%;
    text-align:right;
    padding-top:8px;
  }
  .header_right a,.header_right a:visited {
  }
  .header_right img {
    width:35px;
  }
  
  /* フッタ */
  .footer {
    width:100%;
    margin:0 auto;
    background:white;
    text-align:center;
    color:#666;
    font-size:13px;
  }

  /* footer */
  .footer .perlri_link img {
    width:105px;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  .footer .perlri_link a, .footer .perlri_link a:visited {
    color:white;
    display:block;
    height:100%;
    padding:18px 0 15px 0;
    font-size:17px;
    font-weight:bold;
    color:white;
    text-align:center;
    background:#70AD47;
    letter-spacing:1px;
    cursor:pointer;
  }
  .footer .perlri_link a:hover {
    opacity:0.8;
  }

  .footer-services {
    background:#ecefec;
    padding-top:18px;
    padding-bottom:18px;
  }
  .footer-services ul {
    max-width:860px;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
  }

  .footer-services li {
    width:33.3%;
    list-style:none;
  }
  .footer-services a {
    text-decoration:none;
    font-size:16px;
    line-height:2;
  }

  .youtube_block {
    width:calc(100% - 30px);
    margin:0 auto;
  }
  .youtube {
    position: relative;
    width: 100%;
    margin:0 auto;
    padding-top: 56.25%;
  }
  .youtube iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  /* container */
  .container {
    background:#F0F5F0;
  }
  
  /* main */
  .main {
    max-width:860px;
    width:100%;
    margin: 0 auto;
    display:flex;
    flex-wrap:wrap;
  }
  
  /* content */
  .content {
    width:100%;
  }
  
  /* entry */
  .entry {
    background:white;
    border: 1px solid #D2D6DE;
    margin-top:5px;
    margin-bottom:25px;
  }
  .entry li {
    margin-left:25px;
    line-height:1.5;
  }
  
  /* サイドバー */
  .side {
    width:320px;
    display:none;
  }
  .side_list {
  }
  .side_list_body {
    text-align:center;
  }

  .side_list_image img {
  }
  .side_list ul {
  }
  .side_list li {
    list-style:none;
  }

  .inside {
    width:1080px;
    margin:0 auto;
  }
  
  h2 {
    font-size:28px;
    padding:16px 15px 13px 15px;
    letter-spacing:1px;
    background: var(--theme_color);
  }
  h2 a, h2 a:visited {
    text-decoration:none;
    color:white;
  }
  h3 {
    font-size:21px;
    border-top:4px solid var(--theme_color);
    padding:16px 0px 15px 18px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
    background:#F3F3Fa;
    margin-top:40px;
    color:#3c3c33;
  }
  h4 {
    font-size:18px;
    font-weight:bold;
    padding:6px 0px 4px 10px;
    letter-spacing:0.5px;
    margin:15px 0 18px 0;
  }
  p {
    font-size:16px;
    color:#111;
    margin:15px 0;
    line-height:1.5;
  }
  pre {
    font-size:16px;
    background:#FCFCFC;
    border:1px solid #CCCCCC;
    border-radius:5px;
    padding:10px 15px;
    margin:10px 0;
    line-height:1.2;
    white-space:pre-wrap;
    word-break : break-all;
  }
  blockquote {
    font-size:16px;
    background:#FCFCFC;
    border:1px solid #CCCCCC;
    border-radius:5px;
    padding:10px 15px;
    margin:10px 0;
    line-height:1.5;
  }

  table {
    border-collapse: collapse;
    margin-left:15px;
  }

  table th {
    border:1px solid #ddd;
    padding:7px;
    background:#eee;
    font-weight:bold;
  }

  table td {
    border:1px solid #ddd;
    padding:7px;
  }
  
  /* advanced */
  .day {
    text-align:right;
    color:#999;
  }
  .before-days {
    text-align:center;
  }
  .to_top {
    display:flex;
    justify-content:center;
    margin-top:30px;
  }
  .to_top a {
    display:block;
    width:50px;
    height:50px;
    border-radius:50%;
    background:#eeeeff;
    border:1px solid #30a0F0;
    text-align:center;
    padding-top:10px;
    cursor:pointer;
    color:#0070C0;
    font-size:18px;
  }

  /* bread
  ----------------------------------*/
  .bread ul {
    list-style: none;
    overflow: hidden;
    color: #777;
    font: 10px Verdana, sans-serif;
    background: #fff;
    border: 1px solid #dedede;
    font-size:14px;
  }
  .bread li {
    float: left;
    line-height: 30px;
  }
  .bread li a {
    color: #444;
    text-decoration: none;
    padding: 0 10px 0 10px;
    background: #eee;
    background: -webkit-gradient(linear, left top, right top,
      from(#fff),
      color-stop(0.85,#efefef),
      to(#efefef));
    background: -moz-linear-gradient(left,
      #fff,
      #efefef 85%,
      #efefef);
    background: linear-gradient(left,
      #fff,
      #efefef 85%,
      #efefef);
    display: block;
    float: left;
  }
  .bread li a::after {
    position: relative;
    display: block;
    margin-top: -15px;
    margin-left: auto;
    margin-right: -15px;
    height: 15px;
    width: 10px;
    content: " ";
    -webkit-transform: skew(-30deg);
    background: #efefef;
    border-right: 1px solid #d6d6d6;
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
  }
  .bread li a::before {
    float: right;
    display: block;
    margin-bottom: -15px;
    margin-left: auto;
    margin-right: -15px;
    height: 15px;
    width: 10px;
    content: " ";
    -webkit-transform: skew(30deg);
    background: #efefef;
    border-right: 1px solid #d6d6d6;
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
  }
  .bread li:first-child a {padding-left: 0px;}
  .bread li:last-child {
    padding-left: 0px;
    background: transparent !important;
    color: black;
  }
  .bread li a:hover {color: #d31;}

  .perlclub_register {
    width:calc(100% - 30%);
    max-width:500px;
    margin:50px auto;
  }
  .perlclub_register a {
    line-height:1.9;
    text-align:center;
    font-weight:bold;
    font-size:19px;
    display:block;
    padding:33px 30px;
    background:#FF4DA0;
    text-decoration:none;
    border-radius:5px;
    color:white;
  }
  .perlclub_register a:hover {
    opacity:0.8;
  }
  
  p, pre, blockquote, table, ul, ol  {
    margin-left:10px;
    margin-right:10px;
  }

/* Tablet and Smart phone */
@media only screen and (max-width:860px) {
  .header_main  {
    margin-left:10px;
    margin-right:10px;
  }

  .entry {
    border:none;
    margin-top:0;
    margin-bottom:0;
  }
}
