<h2>二乗和誤差を求める - 損失関数</h2>

二乗和誤差を求める関数をPerlで書いてみましょう。平均二乗誤差は、出力結果と期待される出力結果(正しい答え)の誤差を計算するために使用する<a href="/blog/20200901120907.html">損失関数</a>の一つです。

<pre>
use strict;
use warnings;

# 二乗和誤差
sub sum_of_square_error {
  my ($outputs, $desired_outputs) = @_;
  
  if (@$outputs != @$desired_outputs) {
    die "Outputs length is different from Desired length";
  }
  
  my $total_pow2 = 0;
  for (my $i = 0; $i < @$outputs; $i++) {
    $total_pow2 += ($outputs->[$i] - $desired_outputs->[$i]) ** 2;
  }
  my $mean_square_error = 0.5 * $total_pow2;
  
  return $mean_square_error;
}

my $outputs = [0.7, 0.2, 0.1];
my $desired_outputs = [1, 0, 0];
my $sum_of_square_error = sum_of_square_error($outputs, $desired_outputs);
</pre>

ディープラーニングでは、損失関数で求められた誤差が小さくなるように、重みとバイアスのパラメーターが調整されていきます。

一般には、損失関数として、微分の形が難しく計算が複雑になるので二乗和誤差より、交差エントロピー誤差を使うほうが、望ましいようです。
