<h2>softmax関数とクスエントロピー誤差の合成関数の導関数</h2>

softmaxクロスエントロピーの導関数をPerlで記述してみます。

実は、<a href="/blog/20201002161518.html">softmax関数</a>の<a href="/blog/20200919123308.html">導関数</a>は、そう簡単ではありません。

ただし、softmax関数とクロスエントロピー関数の合成関数の導関数は、簡単に表現できます。

をPerlで書いてみます。

softmax関数の導関数をPerlで書いてみます。softmax関数の導関数は、バックプロパゲーションに利用します。

<pre>
use strict;
use warnings;

# softmaxクロスエントロピー誤差の導関数
sub softmax_cross_entropy_cost_derivative {
  my ($softmax_outputs, $desired_outputs) = @_;
  
  my $length = @$softmax_outputs;
  
  my $softmax_cross_entropy_cost_derivative = [];
  for (my $i = 0; $i < @$vec_a; $i++) {
    $softmax_cross_entropy_cost_derivative->[$i] = ($softmax_outputs->[$i] - $desired_outputs->[$i]) / $length;
  }
  
  return $softmax_cross_entropy_cost_derivative;
}
</pre>
