<h2>m個の入力をn個の出力に変換する</h2>

m個の入力をn個の出力に変換する方法を解説します。

ディープラーニングでは、複数の入力と複数の出力を、多段階に連続的につなぎ、最終的な出力を得ることをします。

このとき、m個の入力から、n個の出力を得る必要があります。

たとえば、4つの入力値に対して、5つの出力値を取得する。5つの入力値から、3つの入力値を取得するということを行います。

<pre>
(x0, x1, x2, x3)
↓
(y0, y1, y2, y3, y4)
↓
(z0, z1, z2)
</pre>

<h3>二つの入力から三つの出力を得る</h3>

では、簡単な例として、二つの入力から三つの出力を得る方法を記述してみましょう。まずPerlのコードで書きます。

<pre>
my $x0 = 0.5;
my $x1 = 0.8;

my $w00 = 0.1;
my $w10 = 0.2;
my $w20 = 0.3;
my $w01 = 0.4;
my $w11 = 0.5;
my $w21 = 0.6;

my $b0 = 0.3;
my $b1 = 0.9;
my $b2 = 0.5;

my $y0 = ($w00 * $x0) + ($w01 * $x1) + $b0;
my $y1 = ($w10 * $x0) + ($w11 * $x1) + $b1;
my $y2 = ($w20 * $x0) + ($w21 * $x1) + $b2;

print "($y0, $y1, $y2)\n";
</pre>

出力結果は以下のようになります。

<pre>
(0.67, 1.4, 1.13)
</pre>

このような計算を行うことで、($x1, $x2)という二つの入力値から($y0, $y1, $y2)という三つの出力を得ることができました。

定数パラメーター「$w」は0～1の値、入力値「$x0, $x1」も0～1の値、定数項「$b0, $b1, $b2」も0～1の値と考えてください。これは、確率を、0%から100%で表現していると考えてください。また計算資源の最適化において、float型で扱える値であると考えてください。

ディープラーニングにおいては、最終出力は、0～1の確率値です。たとえば「眼鏡をかけている」「眼鏡をかけていない」は「1～0.5」「0～0.5」に対応させます。

<h3>yの値を0～1に抑えるには?</h3>

計算して試してみると、yの値は、0～1の範囲に収まらないですね。出力を0～1に抑えるには、どうすればよいでしょうか。

これは、次のような関数をyの値に適用すればよいでしょう。

<ul>
  <li>出力結果が、どのような値であっても、0～1の間に変換してくれる関数</li>
</ul>

このような関数の一つとして、以下の関数があります。このような関数は活性化関数と呼ばれていますので、名前はactivateとします。

<pre>
sub activate {
  my ($y) = @_;
  
  my $activate_y = 1 / (1 + exp(-$y));
  
  return $activate_y;
}
</pre>

先のサンプルに活性化関数を適用してみましょう。

<pre>
my $x0 = 0.5;
my $x1 = 0.8;

my $w00 = 0.1;
my $w10 = 0.2;
my $w20 = 0.3;
my $w01 = 0.4;
my $w11 = 0.5;
my $w21 = 0.6;

my $b0 = 0.3;
my $b1 = 0.9;
my $b2 = 0.5;

my $y0 = ($w00 * $x0) + ($w01 * $x1) + $b0;
my $y1 = ($w10 * $x0) + ($w11 * $x1) + $b1;
my $y2 = ($w20 * $x0) + ($w21 * $x1) + $b2;

$y0 = activate($y0);
$y1 = activate($y1);
$y2 = activate($y2);

print "($y0, $y1, $y2)\n";

sub activate {
  my ($y) = @_;
  
  my $activate_y = 1 / ( 1 + exp(-$y));
  
  return $activate_y;
}
</pre>

出力結果は以下のようになります。0～1の間に値が収まりましたね。

<pre>
(0.661503159202952, 0.802183888558582, 0.755838899094797)
</pre>

二つの0～1の$xの入力が、三つの0～1の$yの出力を得ることができました。

変数の数を増やしたり、減らしたりすれば、m個の入力をn個の出力に変換するというのは、容易にできますね。

