<h2>出力層における計算</h2>

ディープラーニングにおける出力層の計算について解説します。この記事を読む前提として「<a href="/blog/20200302113052.html">中間層における計算 - m個の入力をn個の出力に変換する</a>」を読んでください。

<h3>パターン認識における出力層</h3>

パターン認識(分類問題)における出力層の最終の計算結果は、確率であって、それぞれの出力の和が1になるようにします。たとえば、この写真の人は眼鏡をかけているかどうかという問題があったとして、最終出力は「眼鏡をかけている確率 0.9」「眼鏡をかけていない確率 0.1」という風に出力します。

このような変換を行うために、活性化関数として、ソフトマックス関数と呼ばれる関数を使います。

中間層の最後の出力が、3つだと考えてください。ここから、最終出力を得るために、以下の計算をします。

<pre>
use strict;
use warnings;

# 中間層の最終出力
my $z = [1.1, 0, 0.1];

my $out = [0, 0, 0];

# ソフトマックス関数を適用
$out->[0] = exp($z->[0]) / (exp($z->[0]) + exp($z->[1]) + exp($z->[2]));
$out->[1] = exp($z->[1]) / (exp($z->[0]) + exp($z->[1]) + exp($z->[2]));
$out->[2] = exp($z->[2]) / (exp($z->[0]) + exp($z->[1]) + exp($z->[2]));

print "($out->[0], $out->[1], $out->[2])\n";
</pre>

出力結果。

<pre>
(0.587975711532835, 0.195720112286084, 0.216304176181081)
</pre>

それぞれの出力を足した結果が、1になりそうですね。

<h4>ソフトマックス関数を適用のループ化</h4>

上記の処理をループ化しておきましょう。

<pre>
use strict;
use warnings;

# 中間層の最終出力
my $z = [1.1, 0, 0.1];
my $z_len = @$z;

my $out = [0, 0, 0];

# ソフトマックス関数を適用
my $exp_sum = 0;
for (my $i = 0; $i < $z_len; $i++) {
  $exp_sum += exp($z->[$i]);
}
for (my $i = 0; $i < $z_len; $i++) {
  $out->[$i] = exp($z->[$i]) / $exp_sum;
}

print "($out->[0], $out->[1], $out->[2])\n";
</pre>

出力結果。

<pre>
(0.587975711532835, 0.195720112286084, 0.216304176181081)
</pre>

ループ化する前の値と同じになりました。
