<h2>Perl+ディープラーニングで手書き文字認識</h2>

Perl+ディープラーニングで手書き文字認識を行います。

この記事のひとつの目的は、SPVMの機能の試験を行うことです。

Perlでディープラーニング処理を記述し、それを<a href="https://yuki-kimoto.github.io/spvmdoc-public/">SPVM</a>に書き直し、C言語にトランスパイルし、最後にcudaとcuBLASを使ったGUP演算に差し替えることが目標です。

参考にするサイトは以下です。

<a href="https://nnadl-ja.github.io/nnadl_site_ja/index.html">ニューラルネットワークと深層学習</a>

このサイトに書かれている内容をPerlで実装し、手書き文字認識の精度をこのサイトで記述されているレベルまで、上昇させます。

ディープラーニングによる、静的なパターン認識のアルゴリズムは、汎用的なものなので、このページをコピペすれば、他の分類問題でも、静的なパターン認識ができるように構成したいと思います。

できる限り難しい数学的概念を使わずに、ソウトウェアエンジニアの知識で理解できる実用的なサンプルにする予定です。
