<h2>ベクトルの和を求める</h2>

ディープラーライングの計算で必要なベクトルの和をPerlで求めましょう。

Perlでは、ベクトルは配列で表現します。

ディープラーニングの計算では、重み行列と入力ベクトルの行列積を求めます。求められた値はベクトル(部分計算1)です。

バイアスはベクトルとして表現されます。

部分計算1のベクトルとバイアスベクトルの和を求めると、出力ベクトルが得られます。

<pre>
use strict;
use warnings;

# 重み行列と入力ベクトルの行列積の結果のベクトル
my $mul_weight_inputs = [4, 5, 6, 7];

# バイアスのベクトル
my $biases = [3, 6, 9, 2];

# 出力ベクトル
my $outputs = [];

for (my $i = 0; $i < @$mul_weight_inputs; $i++) {
  $outputs->[$i] = $mul_weight_inputs->[$i] + $biases->[$i];
}

print "@$outputs\n";
</pre>

重み行列と入力ベクトルの行列の積については、以下で解説します。

(書きかけ)
