<h2>SPVMを使ったディープラーニング高速化</h2>

<a href="https://metacpan.org/pod/SPVM">SPVM</a>を使ったディープラーニング高速化です。MNIST手書き認識ディープラーニングをSPVMで記述して<a href="https://tutorial.perlzemi.com/">Perl</a>から呼び出しています。SPVMはC言語にトランスパイルされるので、<a href="https://c.perlzemi.com/">C言語</a>のパフォーマンスが実現されています。

<h4>SPVMを使ったディープラーニング高速化 - その1 一部SPVM化</h4>

<a href="/blog/20200926161518.html">ピュアPerl</a>で書かれたMNIST手書き認識ディープラーニングのソースコードの一部をSPVMを使って書き直しました。

さらに、本格的にSPVMに書き直しました。パフォーマンスが格段に上がっています。

<a href="https://github.com/yuki-kimoto/perlzemideeplearning/tree/master/examples">SPVMを使ったディープラーニング高速化のサンプル</a>の<b>deep_learning_spvm.pl</b>です。

<h4>SPVMを使ったディープラーニング高速化 - その2 本格的にSPVM化</h4>

さらに、本格的にSPVMに書き直しました。パフォーマンスがさらに上がっています。

<a href="https://github.com/yuki-kimoto/perlzemideeplearning/tree/master/examples">SPVMを使ったディープラーニング高速化のサンプル</a>の<b>deep_learning_spvm2.pl</b>です。
