<div class="what_is_this_site">
  <div class="inside">
    <b>ディープラーニングを使ったAI</b>を<a href="https://tutorial.perlzemi.com/">Perl</a>で学ぶ講座です。ライブラリを使わずに、if文とfor文とソフトウェアと数学の基本的な知識(高度なものではなく)があれば、学べるように構成しています。<br>実用においては、ディープラーニングのC++で書かれたMXNetライブラリの機能をPerlから呼び出せる、<a href="https://metacpan.org/pod/AI::MXNet">AI::MXNet</a>というモジュールによって提供されています。AI::MXNetは、画像判別、自然言語処理、画像生成などのディープラーニングの応用にも対応しています。<br>Perlでは、数値計算や配列演算の性能が足りない場合は、<a href="https://c.perlzemi.com/">C言語</a>やC++で書かれたライブラリを<a href="https://bind.perlzemi.com/">バインディング</a>できます。<br>誤解が多いですが、<a href="https://datascience.perlzemi.com/">データ分析</a>においては、ディープラーニングによるAI(あるいは学習アルゴリズム)は、非常に限られた分野での応用で、精度が高くなる場合は限定されています。
  </div>
</div>

<div class="perlri_link">
  <a href="http://www.perlri.com">
    Copyright © Perl総合研究所
  </a>
</div>
