<!-- side -->
<div class="side_list">
  <div class="side_list_title">
    AI講座 講座作成
  </div>
  <ul>
    <li style="text-align:center;padding-left:0"><a rel="nofollow" href="http://www.perlri.com/"><img width="110" src="https://tutorial.perlzemi.com/images/kaeru_w_01.png"><br>ゆとりある<br>エンジニアライフを創造中<br>Perl元気塾</a></li>
  </ul>
</div>

<div class="side_list">
  <div class="side_list_title">
    AI講座 記事一覧
  </div>
  <ul>
    <li><a href="/list.html">記事一覧</a></li>
  </ul>
</div>

<div class="side_list">
  <div class="side_list_title">
    プロのITエンジニアになる方法
  </div>
  <div class="side_list_body">
    <ul>
      <li>
        <div style="text-align:center;margin-bottom:5px;">
          <a rel="nofollow" href="https://perlri.com/job" target="_blank">プロのITエンジニアになるための<br>仕事の探し方・選び方</a>
        </div>
<!-- サイドバー -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4525414114581084"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-gw-3+1f-3d+2z"
     data-ad-client="ca-pub-4525414114581084"
     data-ad-slot="6384959968"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>        <!-- 
        <div>
          <img src="/images/ad/ad_image_example.png">
        </div>
        -->
      </li>
    </ul>
  </div>
</div>
