<!-- side -->
<div class="side-list">
  <div class="side-list-title">
    講座作成
  </div>
  <ul>
    <li style="text-align:center;padding-left:0"><a href="http://www.perlri.com/"><img alt="初心者からはじめて<br>プロのWeb開発者<br>になれる講座なら" width="110" src="https://tutorial.perlzemi.com/images/kaeru_w_01.png"><br>初心者からはじめて<br>プロのWeb開発者<br>になれる講座なら<br>Perl元気塾</a></li>
  </ul>
</div>

<div class="side-list">
  <div class="side-list-title">
    記事一覧
  </div>
  <ul>
    <li><a href="/list.html">記事一覧</a></li>
  </ul>
</div>
